

.papa{
    min-height: 100vh;    
    background: linear-gradient(to top, #f8b500, #fceabb);    
}

.nombre{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    background-color: rgb(255, 196, 0);
}

.img{
    display: flex;
    justify-content: space-around;
    /* display: flex;
    justify-content: flex-start; */
}

.id{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.tipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}


.id{
    display: flex;
    flex-direction: row;
}

.estadisticasVidaFuerza{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.estadisticaDefensaVelocidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.altPeso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botonUbicacion{
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: rgb(255, 196, 0);
}

.boton{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border-color: black;
    background-color: rgba(255,255,0,1)
}

.boton:hover{       
    background-color:rgba(255,255,0,0.8);
}