.sort{
    background-color: rgb(41, 40, 40)
}

.todo{
    min-height: 100vh;
    background: linear-gradient(to right, #f8b500, #fceabb); 
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.span{
    font-size: larger;
}