.papa{
   display: flex;
   flex-direction: row;
   justify-content: space-around;

    
}

.inputText{
    padding-top: 2%;
    padding-bottom: 2%;   
    width: 60%;
    
}

.inputBuscar{
    width: 30%;
    background-color:rgba(255,255,0,0.8);
    border-radius: 10px;
    border-color: black;  
}  

.inputBuscar:hover{       
    background-color: rgba(255,255,0,1)
}